body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #212427;
    background-color: whitesmoke;
}

header {
    background-color: peru;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: black;
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

h1,
footer {
    text-align: center;
}

.item-one,
.item-two,
.item-three,
.item-four {
    display: flex;
}

.item-one {
    position: relative;
}

li {
    cursor: pointer;
}

.text-container {
    margin: auto;
}

.text-btn {
    display: block;
    margin: auto;
    background-color: peru;
    color: whitesmoke;
    font-weight: 700;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px 20px;
}

.text-btn:hover,
.text-btn:active {
    opacity: .9;
    color: #212427;
    border: 1px solid #212427;
    cursor: pointer;
}

.popular-tag {
    position: absolute;
    top: 0;
    right: 0;
}

.popular-el {
    background-color: #212427;
    color: whitesmoke;
    padding: 5px 10px;
    font-weight: 700;
    margin: 0;
}

.utah-outline {
    width: 50px;
}

.menu-icon {
    width: 30px;
}

.align-right {
    margin-left: auto;
}

.section-img {
    box-shadow: 3px 3px 10px 0px black;
    border-radius: 3px;
}

.arch-img,
.slot-img,
.deer-img,
.camping-img {
    width: 50%;
}

.caption {
    margin: auto;
    padding: 20px;
}